@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #EFDEB9;
}

.MainAppContainer {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #EFDEB9;
	color: #967328;
}